body{
  background:#05A4B2;
  font-family: Arial,  Helvetica,  sans-serif;
  margin:0;
}

.center{
  text-align:center;
}

header h1{
  font-weight: 800;
  border: 2px black solid;
  background:coral;
}

.container{
  margin:10px auto;
  width:500px;
}

#calculator{
  height:600%;
  padding: 15px 10px;
  border:2px #909E9E solid;
  border-radius: 10px 10px 35px 35px;
  box-shadow: 5px 5px #424242;
  background: #686A70;
}

.view {
  padding-top:20px;
  text-align:center;
  margin-top:10px;
  height:100px;
  background:#EBEDED;
  border: 3px #909E9E solid;
  border-radius: 12px;
}

ul{
  display:block;
  text-decoration:none;
  list-style:none;
}

#history {
  text-align:right;
  padding-right:50px;
  font-size:18px;
  font-weight:400;
}

#results {
  font-size:28px;
  font-weight:600;
}

#buttons {
  padding:10px;
}

button {
  padding: 15px 0px;
  width:18%;
  margin-top:8px;
  font-size:24px;
  font-weight:600;
  background:#C2C7C0;
  border: 1px black solid;
  border-radius: 15px;
}

button#equal {
background:#DFB019;
}

button.btn-special {
background:#3B00A8;  
}

